---
import Link from "@/components/Link.astro";
import { formatDate, getReadingTime } from "@/lib/utils";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { Badge } from "./ui/badge";
import { Separator } from "./ui/separator";

interface Props {
  post: CollectionEntry<"post">;
}

const { post } = Astro.props;

const formattedDate = formatDate(post.data.date);
const readingTime = getReadingTime(post.body!);
---

<div
  class="hover:bg-secondary/50 rounded-xl border p-4 transition-colors duration-300 ease-in-out"
>
  <Link
    href={`/${post.collection}/${post.id}`}
    class="flex flex-col gap-2 sm:flex-row"
  >
    {
      post.data.image && (
        <div class="max-w-3xs sm:shrink-0">
          <Image
            src={post.data.image}
            alt={post.data.title}
            width={1200}
            height={630}
            class="object-cover"
          />
        </div>
      )
    }
    <div class="grow">
      <h3 class="mb-1 text-lg font-medium">
        {post.data.title}
      </h3>
      <p class="text-muted-foreground mb-2 text-sm">
        {post.data.description}
      </p>
      <div
        class="text-muted-foreground mb-2 flex flex-wrap items-center gap-x-2 text-xs"
      >
        <span>{formattedDate}</span>
        <Separator orientation="vertical" className="h-4!" />
        <span>{readingTime}</span>
      </div>
      {
        post.data.tags && (
          <div class="flex flex-wrap gap-2">
            {post.data.tags.map((tag) => (
              <Badge
                variant="outline"
                className="text-xs font-normal"
                key={tag}
              >
                <Icon name="lucide:hash" class="size-3" />
                {tag}
              </Badge>
            ))}
          </div>
        )
      }
    </div>
  </Link>
</div>
